<h1>About</h1>
<p>
	Share the Stoke is a space for you to share your experiences with the outdoor community.  Whatever it is that gets you stoked: Climbing, Mountain Biking, Surfing, Running, Bird Watching, Natural History. Post it here and get everyone stoked on our planet!
</p>

