<div class="hero-unit">
<h1>What gets you stoked?</h1>

<p>
	Share photos and videos from your outdoor adventures to increase the collective stoke!
</p>
<p>
	<%= link_to "Make An Account!", "#", class: "btn btn-primary btn-large"%>

</p>
</div>
